button {
  border: none;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
}

.button {
  padding: 0.5em 0.75em;
  background: var(--defaultBtnColor);
  outline: none;
  cursor: pointer;
  border-radius: 4px;

  &:hover {
    background: darken($defaultBtnColor, 5%);
  }

  &:active {
    background: darken($defaultBtnColor, 10%);
  }

  &.primary {
    background: var(--primaryColor);
    color: var(--whiteColor);

    &:hover {
      background: darken($primaryColor, 5%);
    }

    &:active {
      background: darken($primaryColor, 10%);
    }
  }

  &.success {
    background: var(--successColor);
    color: var(--whiteColor);

    &:hover {
      background: darken($successColor, 5%);
    }

    &:active {
      background: darken($successColor, 10%);
    }
  }

  &.danger {
    background: var(--dangerColor);
    color: var(--whiteColor);

    &:hover {
      background: darken($dangerColor, 5%);
    }

    &:active {
      background: darken($dangerColor, 10%);
    }
  }
}
