$bgColor: #f7f9fb;
$primaryColor: #007bff;
$whiteColor: #fff;
$defaultColor: #333;
$inputColor: #606060;
$defaultBtnColor: #ccc;
$defaultGrayColor: #ccc;

:root {
  --bgColor: #f7f9fb;
  --primaryColor: #007bff;
  --whiteColor: #fff;
  --defaultColor: #333;
  --inputColor: #606060;
  --defaultBtnColor: #ccc;
  --defaultGrayColor: #ccc;
}
