@import '~styles/mixins.scss';

.component {
  display: flex;
  align-items: stretch;
  text-align: center;
  font-size: 0.75rem;

  .circle {
    height: 10px;
    width: 10px;
    background: #d9534f;
    border-radius: 50%;

    &--active {
      background: #5cb85c;
    }
  }

  a {
    color: var(--primaryColor);
  }

  .orderNumber {
    display: none;
  }

  > * {
    flex: 5;
    min-width: 150px;
    padding: 1em;
    box-shadow: 0px 1px 0px var(--defaultGrayColor);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  > *:first-child {
    flex: 1;
    min-width: 50px;
  }

  > *:last-child {
    flex: 1;
    min-width: 100px;
  }

  .break {
    word-break: break-all;
  }

  button {
    font-size: 0.8rem;
  }

  @include breakpoint('medium') {
    font-size: 0.85rem;

    .orderNumber {
      display: flex;
    }
  }
}
